.container {
  margin: 48px 12px;
}
.text-title {
  color: red;
  font-size: 30px;
}
.text-body {
  color: blue;
  font-size: 18px;
}
.text {
  color: blue;
  font-size: 24px;
}

.navbar {
  background-color: white;
  /* h-offset, v-offset, blur, spread */
  box-shadow: 2px 4px 8px -5px;
}
