.container {
  margin: 48px 12px;
}
.text-title {
  color: black;
  font-size: 30px;
}
.text-body {
  color: gray;
  font-size: 18px;
}
.text {
  color: blue;
  font-size: 24px;
}
.navbar {
  background-color: beige;
  box-shadow: 2px 4px 8px -5px;
}
.navbar-logo {
  height: 50px;
  width: auto;
}
.profile-image {
  height: auto;
  width: 100%;
}
.wrapper {
  margin: 12px;
  text-align: center;
}
.profile-text {
  font-size: 26px;
  color: green;
}
li {
  font-size: 16px;
  color: blue;
  margin: 6px;
  margin-top: 12px;
}
table {
  border: 4px solid black;
}
.provider-cells {
  border: 1px solid black;
  padding: 6px;
}
.provider-header {
  background-color: yellow;
}
.provider-map {
  width: 75%;
  height: auto;
  margin: 12px;
}
.button-example {
  background-color: green;
  border: 1px solid black;
  width: 100px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
}
.button-example-red {
  background-color: red;
  border: 1px solid black;
  width: 100px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
}
.drugs-image {
  width: 200px;
  height: auto;
  margin-bottom: 12px;
  display: none;
}
.diabetes-confirmed {
  background-color: red;
  color: white;
  border: 2px solid black;
  border-radius: 12px;
  padding: 32px;
  display: none;
}
.diabetes-no {
  color: green;
  display: none;
}
.diabetes-revisit {
  color: black;
  display: none;
}
.translate-navbar {
  margin-top: 24px;
}
#doctor-city {
  margin-bottom: 12px;
}