a {
    margin-top: -16px;
}
.navbar {
    background-color: tan;
    box-shadow: 2px 4px 8px 0;
    height: 70px;
}
.navbar-logo {
    height: 30px;
    width; auto;
    display: inline;
    margin-right: 20px;
}
.navbar-nav {
    margin-left: 20px;
}
.navbar-element {
    margin: 12px;
}
.navbar-drop {
    text-decoration: none;
    color: black;
}
.menu-item {
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    border-radius: 4px;
    background-color: rgb(191, 213, 218);
    text-align: center;
}
th {
    border: 1px solid black;
    background-color: yellow;
}
td {
    border: 1px solid black;
    height: 20px;
    width: 150px;
}

/* GOOGLE MAPS CSS */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
